{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'pcbs/details.css' %}" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
</head>
<body>
<div style="width: 10%; height: 100%; position: fixed;">{% include 'pcbs/sidebar.html' %}</div>
<div style="width: 90%; margin-left: 10%;">
{% for pcb_revision in pcb.pcbrevision_set.all %}
    <div>
    <h1>{{ pcb_revision }}</h1>
        {% if pcb_revision.changes %}
            Changes from previous revision: {{ pcb_revision.changes }}
        {% endif %}
    </div>
{% endfor %}
</div>
</body>
